* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 0.76471;
}

html,
body {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
}

.burger__container {
  display: none;
}

.title {
  font-size: calc(22px + 8 * ((100vw - 320px) / 1600));
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  color: #555555;
}

.text {
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  color: #8c8c8c;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
}

.button {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
  padding-top: calc(12px + 5.8 * ((100vw - 320px) / 1600));
  padding-bottom: calc(12px + 5.8 * ((100vw - 320px) / 1600));
  padding-left: calc(22px + 14.77 * ((100vw - 320px) / 1600));
  padding-right: calc(22px + 14.77 * ((100vw - 320px) / 1600));
  background-color: #998675;
  border-radius: 3px;
  border: 2px solid #998675;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  outline: none;
}

.button::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #736357;
  border: 2px solid #736357;
  border-radius: 0 0 3px 3px;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  left: -2px;
  z-index: 5;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.button:hover {
  background-color: transparent;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.button:hover:after {
  opacity: 0;
}

.link {
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
}

.link:after {
  content: "";
  border: 4.5px solid transparent;
  display: inline-block;
  margin-left: 11.76471%;
  border-left: 5px solid;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 50;
  padding-top: calc(25px + 15 * ((100vw - 768px) / 1152));
  padding-bottom: calc(25px + 15 * ((100vw - 768px) / 1152));
  padding-left: calc(10px + 365 * ((100vw - 768px) / 1152));
  padding-right: calc(10px + 355 * ((100vw - 768px) / 1152));
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__text {
  color: white;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  font-size: calc(22px + 12 * ((100vw - 320px) / 1600));
  font-weight: 400;
}

.logo__img {
  height: calc(45px + 11 * ((100vw - 768px) / 1152));
}

.nav {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 53.81356%;
      flex-basis: 53.81356%;
  min-width: 500px;
  margin-left: auto;
}

.nav__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.nav__item {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  white-space: nowrap;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: inherit;
}

.nav__item:hover {
  color: #c7b299;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 5.9322%;
      flex-basis: 5.9322%;
  margin-left: 5.33898%;
}

.header__button {
  background: none;
  padding: 0;
  border: none;
}

.banner {
  padding-top: calc(125px + 258 * ((100vw - 768px) / 1152));
  padding-bottom: calc(0px + 0 * ((100vw - 768px) / 1152));
}

.slider {
  text-align: center;
  color: white;
}

.slider__slogan {
  font-family: "Raleway", sans-serif;
  font-size: calc(25px + 11 * ((100vw - 320px) / 1600));
  margin-top: 0;
  margin-bottom: 1.23077%;
  letter-spacing: 1px;
}

.slider__title {
  font-size: calc(40px + 12 * ((100vw - 320px) / 1600));
  margin-top: 0;
  color: inherit;
  margin-bottom: 1.53846%;
}

.slider__description {
  font-family: "Montserrat", sans-serif;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: normal;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 3.07692%;
}

.slider__button {
  margin-bottom: 7px;
}

.wrapper {
  padding-left: calc(20px + 127.5 * ((100vw - 768px) / 1152));
  padding-right: calc(20px + 127.5 * ((100vw - 768px) / 1152));
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: calc(40px + 40 * ((100vw - 768px) / 1152));
  padding-bottom: calc(40px + 40 * ((100vw - 768px) / 1152));
  padding-left: calc(40px + 335 * ((100vw - 768px) / 1152));
  padding-right: calc(40px + 335 * ((100vw - 768px) / 1152));
  color: #555555;
}

.service__item {
  -ms-flex-preferred-size: 23.07692%;
      flex-basis: 23.07692%;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service__line {
  width: 25.92593%;
  margin: 0;
  margin-top: auto;
  height: 3px;
  border: none;
  color: #f1eee9;
  background-color: #f1eee9;
}

.service__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 22px;
  margin: 9.25926% 0;
  font-weight: 600;
}

.service__text {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 14px;
}

.service__item:nth-child(2) .service__line {
  color: #c7b299;
  background-color: #c7b299;
}

.service__item:nth-child(2) .service__title {
  color: #c7b299;
}

.poster {
  background-color: #fbfaf8;
  text-align: center;
  padding-left: calc(0px + 345 * ((100vw - 768px) / 1152));
  padding-right: calc(0px + 345 * ((100vw - 768px) / 1152));
  padding-top: calc(30px + 50 * ((100vw - 768px) / 1152));
  padding-bottom: calc(0px + 0 * ((100vw - 768px) / 1152));
}

.poster__title {
  text-transform: none;
  margin-top: 0;
}

.poster__text {
  margin-top: 0;
  padding-left: calc(0px + 225 * ((100vw - 768px) / 1152));
  padding-right: calc(0px + 225 * ((100vw - 768px) / 1152));
  margin-bottom: 2.08333%;
}

.poster__img {
  width: 100%;
}

.offer {
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: calc(25px + 25 * ((100vw - 768px) / 1152));
  padding-bottom: calc(25px + 25 * ((100vw - 768px) / 1152));
  padding-left: calc(25px + 350 * ((100vw - 768px) / 1152));
  padding-right: calc(25px + 350 * ((100vw - 768px) / 1152));
}

.offer__button {
  /*padding-left: 28px;
        padding-right: 28px;*/
  padding-left: calc(19px + 9 * ((100vw - 320px) / 1600));
  padding-right: calc(19px + 9 * ((100vw - 320px) / 1600));
  margin-left: auto;
}

.offer__title {
  margin-top: 0;
  margin-bottom: 2.8626%;
  font-size: calc(22px + 6 * ((100vw - 320px) / 1600));
  color: white;
  font-weight: 400;
}

.offer__text {
  margin: 0;
  line-height: inherit;
}

.offer__lable {
  color: #c7b299;
}

.projects {
  text-align: center;
  padding-top: calc(40px + 40 * ((100vw - 768px) / 1152));
  padding-bottom: calc(40px + 40 * ((100vw - 768px) / 1152));
  padding-left: calc(20px + 355 * ((100vw - 768px) / 1152));
  padding-right: calc(20px + 355 * ((100vw - 768px) / 1152));
}

.projects__title {
  margin-top: 0;
}

.projects__text {
  padding-left: calc(0px + 175 * ((100vw - 768px) / 1152));
  padding-right: calc(0px + 175 * ((100vw - 768px) / 1152));
  margin-top: 0;
  margin-bottom: 3.4188%;
}

.projects__filter {
  margin-top: 0;
  margin-bottom: 1.28205%;
}

.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.8547%;
}

.projects__item {
  -ms-flex-preferred-size: 31.62393%;
      flex-basis: 31.62393%;
  min-width: 280px;
  margin-bottom: 2.5641%;
}

.projects__photo {
  position: relative;
}

.projects__photo img {
  width: 100%;
}

.projects__options {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.projects .text__container {
  text-align: left;
  position: relative;
  padding: 30px;
  background-color: #fbfaf8;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.projects__name {
  margin-top: 0;
  margin-bottom: 3.22581%;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #c7b299;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  line-height: normal;
}

.projects__category {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #d1d1d1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.projects .text__container:before {
  content: "";
  position: absolute;
  border: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  top: -25px;
  z-index: 10;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.projects__button:hover {
  color: #998675;
}

.projects__item:hover .projects__options {
  opacity: 1;
}

.projects__item:hover .text__container {
  background-color: #362f2d;
}

.projects__item:hover .text__container:before {
  border-bottom-color: #362f2d;
}

.projects__item:hover .projects__name {
  color: white;
}

.projects__item:hover .projects__category {
  color: #c7b299;
}

.option__button {
  border: none;
  padding: 0;
  background: none;
  margin: 0 4.05405%;
  width: 7.02703%;
  height: auto;
}

.option__button img {
  width: 100%;
  height: auto;
}

.filter {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter__item {
  text-transform: capitalize;
  color: #8c8c8c;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 0 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: none;
  margin-bottom: 2.13675%;
}

.filter__item.current {
  background: #998675;
  color: white;
}

.filter__item:hover {
  background: #998675;
  color: white;
}

.presentation {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(rgba(33, 27, 25, 0.8)), to(rgba(78, 52, 39, 0.8)));
  background: linear-gradient(90deg, rgba(33, 27, 25, 0.8) 0%, rgba(78, 52, 39, 0.8) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: calc(50px + 625 * ((100vw - 768px) / 1152));
  padding-right: calc(50px + 625 * ((100vw - 768px) / 1152));
}

.presentation__logo {
  padding-top: calc(10px + 5 * ((100vw - 768px) / 1152));
  padding-bottom: calc(10px + 5 * ((100vw - 768px) / 1152));
  padding-left: calc(10px + 5 * ((100vw - 768px) / 1152));
  padding-right: calc(10px + 5 * ((100vw - 768px) / 1152));
  height: calc(65px + 35 * ((100vw - 768px) / 1152));
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 7.01754%;
}

.presentation__title {
  color: white;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 4.38596%;
}

.presentation__text {
  margin-top: 0;
  color: white;
  margin-bottom: 7.01754%;
}

.presentation__duration {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #c7b299;
  font-weight: 600;
  letter-spacing: 1px;
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: calc(40px + 40 * ((100vw - 768px) / 1152));
  padding-bottom: calc(40px + 40 * ((100vw - 768px) / 1152));
  padding-left: calc(100px + 320 * ((100vw - 768px) / 1152));
  padding-right: calc(100px + 280 * ((100vw - 768px) / 1152));
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fbfaf8;
}

.mobile__title {
  text-transform: none;
  text-align: left;
  margin-top: 0;
  margin-bottom: 5.73888%;
}

.mobile__text {
  line-height: 1.5;
  margin-bottom: 5.73888%;
  margin-top: 0;
}

.mobile__feature {
  margin-top: 10.71429%;
}

.feature__list {
  list-style: none;
  padding-left: 7.1736%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
}

.feature__item {
  margin-bottom: 3.09119%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: normal;
}

.feature__item::before {
  content: url(../img/arrow.png);
  margin-right: 4.63679%;
}

.counters {
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: calc(50px + 20 * ((100vw - 768px) / 1152));
  padding-bottom: calc(35px + 25 * ((100vw - 768px) / 1152));
  padding-left: calc(75px + 420 * ((100vw - 768px) / 1152));
  padding-right: calc(75px + 420 * ((100vw - 768px) / 1152));
  text-align: center;
}

.counters__item {
  -ms-flex-preferred-size: 15.05376%;
      flex-basis: 15.05376%;
  min-width: 140px;
}

.counters__image {
  margin-bottom: 21.42857%;
}

.counters__number {
  display: block;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: calc(30px + 18 * ((100vw - 320px) / 1600));
  font-weight: 300;
  margin-bottom: 14.28571%;
}

.counters__name {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #c7b299;
  line-height: normal;
}

.counters__line {
  border: none;
  margin-bottom: 0;
  margin-top: 21.42857%;
  width: 30px;
  height: 2px;
  color: white;
  background-color: white;
}

.posts {
  padding-top: calc(40px + 40 * ((100vw - 768px) / 1152));
  padding-bottom: calc(40px + 40 * ((100vw - 768px) / 1152));
  padding-left: calc(50px + 325 * ((100vw - 768px) / 1152));
  padding-right: calc(50px + 325 * ((100vw - 768px) / 1152));
  text-align: center;
}

.posts__text {
  padding-left: calc(0px + 175 * ((100vw - 768px) / 1152));
  padding-right: calc(0px + 175 * ((100vw - 768px) / 1152));
  margin-top: 0;
  line-height: 1.7;
  margin-bottom: 2.99145%;
}

.posts__title {
  margin-top: 0;
  margin-bottom: 2.5641%;
  font-weight: 600;
}

.posts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3.4188%;
}

.posts__item {
  -ms-flex-preferred-size: 31.62393%;
      flex-basis: 31.62393%;
}

.posts__photo {
  position: relative;
  width: calc(280px + 90 * ((100vw - 768px) / 1152));
}

.posts__photo img {
  width: 100%;
}

.posts__photo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(33, 27, 25, 0.8)), to(rgba(78, 52, 39, 0.8)));
  background: linear-gradient(90deg, rgba(33, 27, 25, 0.8) 0%, rgba(78, 52, 39, 0.8) 100%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 10;
}

.posts__date {
  position: absolute;
  top: 9.09091%;
  left: 5.40541%;
  height: 60px;
  width: 50px;
  z-index: 11;
}

.posts__day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 58.33333%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #363636;
  border-radius: 3px 3px 0 0;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.posts__month {
  background-color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 12px;
  text-transform: capitalize;
  height: 41.66667%;
  border-radius: 0 0 3px 3px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-weight: 400;
}

.posts .text__container {
  border: solid #f8f8f8;
  border-width: 0 1px 1px;
  padding: 30px 32px 30px 30px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-align: left;
  background: none;
}

.posts__name {
  margin-top: 0;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #555555;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-bottom: 6.53595%;
  line-height: normal;
}

.posts__description {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  line-height: 1.5;
  margin-top: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-bottom: 9.80392%;
}

.posts__link {
  color: #c7b299;
}

.posts__link:after {
  border-left-color: #c7b299;
}

.posts__previous {
  display: inline-block;
  margin-right: 0.8547%;
}

.posts__item:hover .posts__photo:after {
  opacity: 1;
}

.posts__item:hover .posts__day {
  background-color: #c7b299;
}

.posts__item:hover .posts__month {
  background-color: #a48d72;
}

.posts__item:hover .posts__name {
  color: #c7b299;
}

.posts__item:hover .posts__description {
  color: white;
}

.posts__item:hover .text__container {
  background-color: #362f2d;
  border: none;
}

.partners {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(rgba(33, 27, 25, 0.8)), to(rgba(78, 52, 39, 0.8)));
  background: linear-gradient(90deg, rgba(33, 27, 25, 0.8) 0%, rgba(78, 52, 39, 0.8) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: calc(40px + 360 * ((100vw - 768px) / 1152));
  padding-right: calc(40px + 360 * ((100vw - 768px) / 1152));
}

.partners__image {
  width: calc(100px + 110 * ((100vw - 768px) / 1152));
}

footer {
  background-color: #111;
}

.info {
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: calc(50px + 325 * ((100vw - 768px) / 1152));
  padding-right: calc(50px + 325 * ((100vw - 768px) / 1152));
  padding-top: calc(40px + 40 * ((100vw - 768px) / 1152));
  padding-bottom: calc(40px + 40 * ((100vw - 768px) / 1152));
}

.info__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9.68992%;
}

.info__text {
  color: #555555;
  line-height: 1.5;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 11.62791%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.info__main:hover .info__text {
  color: #c7b299;
}

.info__main {
  -ms-flex-preferred-size: 22.05128%;
      flex-basis: 22.05128%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.info .logo__text {
  letter-spacing: -1.36px;
}

.info__link {
  color: #d1d1d1;
}

.info__link:after {
  border-left-color: #d1d1d1;
}

.info .text {
  padding: 0;
}

.info__posts {
  -ms-flex-preferred-size: 23.16239%;
      flex-basis: 23.16239%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 2.39316%;
  min-width: 270px;
}

.info__title {
  font-size: 24px;
  color: white;
  margin-bottom: 12.17712%;
  display: block;
  text-align: left;
}

.info .posts__date {
  position: static;
  height: auto;
  width: auto;
  color: #363636;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 3.69004%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-weight: 300;
}

.info .posts__text {
  color: #555555;
  margin-bottom: 7.38007%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-size: 14px;
}

.info .posts__item {
  border-bottom: 1px solid #252525;
  margin-bottom: 7.38007%;
}

.info .posts__item:last-child {
  border: none;
  margin-bottom: 0;
}

.info .posts__item:hover .posts__text {
  color: #c7b299;
}

.info .posts__item:hover .posts__date {
  color: white;
}

.info__twitter {
  -ms-flex-preferred-size: 23.24786%;
      flex-basis: 23.24786%;
  margin-top: 2.39316%;
  min-width: 270px;
}

.info .twitter__text {
  color: #555555;
  font-size: 14px;
  margin-bottom: 4.04412%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.info .twitter__link {
  color: #00bff3;
}

.info .twitter__link.external {
  color: #959595;
}

.info .twitter__date {
  color: #363636;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 8.45588%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-top: 0;
}

.info .twitter__item {
  border-bottom: 1px solid #252525;
  margin-bottom: 7.35294%;
}

.info .twitter__item:last-child {
  border: none;
  margin-bottom: 0;
}

.info .twitter__item:hover .twitter__text {
  color: #c7b299;
}

.info .twitter__item:hover .twitter__date {
  color: white;
}

.info__widget {
  -ms-flex-preferred-size: 23.16239%;
      flex-basis: 23.16239%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 2.39316%;
  min-width: 270px;
}

.info .widget__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info .widget__item {
  -ms-flex-preferred-size: 47.97048%;
      flex-basis: 47.97048%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 3.69004%;
}

.info .widget__item img {
  width: 100%;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: calc(50px + 325 * ((100vw - 768px) / 1152));
  padding-right: calc(50px + 325 * ((100vw - 768px) / 1152));
  padding-top: calc(30px + 15 * ((100vw - 768px) / 1152));
  padding-bottom: calc(35px + 17 * ((100vw - 768px) / 1152));
}

.copyright p {
  margin: 0;
  color: #555555;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: normal;
}

.copyright__label {
  color: #959595;
}

.copyright__link {
  color: #c7b299;
}

.copyright__name {
  color: #959595;
}

@media all and (max-width: 1683px) {
  .posts__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .posts__item {
    margin-bottom: 5%;
  }
}

@media all and (max-width: 1100px) {
  .header__buttons {
    margin-left: 4%;
    -ms-flex-preferred-size: 6.77966%;
        flex-basis: 6.77966%;
  }
  .presentation__logo {
    margin-bottom: 4%;
  }
  .presentation__title {
    margin-bottom: 3%;
  }
  .presentation__text {
    margin-bottom: 4%;
  }
  .mobile {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile__image {
    width: 75%;
  }
  .mobile img {
    width: 100%;
  }
}

@media all and (max-width: 1070px) {
  .counters {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .counters__item {
    margin-bottom: 5%;
  }
}

@media all and (max-width: 1035px) {
  .service {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .service__item {
    margin-bottom: 5%;
  }
}

@media all and (max-width: 1000px) {
  .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .info__main {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-bottom: 5%;
    min-width: 270px;
  }
  .info__posts {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    margin-bottom: 5%;
  }
  .info__twitter {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
  .info__widget {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}

@media all and (max-width: 824px) {
  .projects__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 0;
  }
  .projects__item {
    margin-bottom: 5%;
  }
}

@media all and (max-width: 767px) {
  .burger__container {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 5%;
    padding: 15px 12.5px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: relative;
    z-index: 50;
  }
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 25px;
    padding: 0;
    border-radius: 0;
    z-index: 50;
  }
  .header__buttons {
    margin-left: auto;
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    width: 30px;
    left: 0;
    height: 2px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: whitesmoke;
    border-radius: 2px;
  }
  .burger:before {
    top: 0;
  }
  .burger:after {
    top: 100%;
  }
  .burger span {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
    height: 2px;
    background-color: whitesmoke;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  header {
    padding: 3% 5%;
  }
  .nav {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: absolute;
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: scale(0);
            transform: scale(0);
    background: -webkit-gradient(linear, left top, right top, from(rgba(33, 27, 25, 0.75)), to(rgba(78, 52, 39, 0.75)));
    background: linear-gradient(90deg, rgba(33, 27, 25, 0.75) 0%, rgba(78, 52, 39, 0.75) 100%);
    top: 0;
    right: 0;
    width: 100%;
    padding: 0 3% 3%;
    z-index: -1;
  }
  .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger.active:after {
    -webkit-transform: rotate(45deg) translateY(-50%);
            transform: rotate(45deg) translateY(-50%);
    top: 50%;
  }
  .burger.active:before {
    -webkit-transform: rotate(-45deg) translateY(-50%);
            transform: rotate(-45deg) translateY(-50%);
    top: 50%;
  }
  .burger__container:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .nav.visible {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .projects {
    padding: 5%;
  }
  .info {
    padding: 5.21512% 6.5189%;
  }
  .offer {
    padding: 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .offer__container {
    min-width: 300px;
  }
  .poster {
    padding: 3.90625% 0 0;
  }
  .poster__text, .poster__title {
    padding: 0 2.60417%;
  }
  .posts {
    padding: 5.20833% 6.51042%;
  }
  .posts__item {
    min-width: 280px;
  }
  .posts__photo {
    width: 100%;
  }
  .info .posts__item {
    min-width: 0;
  }
  .partners {
    padding: 0 5.20833%;
  }
  .counters {
    padding: 6.51042% 9.76562% 4.55729%;
  }
}

@media all and (max-width: 679px) {
  .offer {
    display: block;
    text-align: center;
  }
  .offer__container {
    margin-bottom: 5%;
  }
}

@media all and (max-width: 644px) {
  .info {
    display: block;
  }
  .info__label {
    margin-bottom: 5%;
  }
  .info__text {
    margin-bottom: 5%;
  }
  .info__main {
    margin-bottom: 10%;
  }
  .info__title {
    margin-bottom: 5%;
  }
  .info .posts__text {
    margin-bottom: 3%;
  }
  .info__posts {
    margin-bottom: 10%;
  }
  .info__twitter {
    margin-bottom: 10%;
  }
  .info .twitter__date {
    margin-bottom: 4%;
  }
  .info .twitter__item:last-child {
    margin-bottom: 10%;
  }
  .info .widget__item {
    min-width: 200px;
  }
}

@media all and (max-width: 480px) {
  .mobile {
    padding: 6.25% 6.25% 4.16667%;
  }
}

@media all and (max-width: 469px) {
  .offer__text, .offer__title {
    line-height: normal;
  }
}

@media all and (max-width: 459px) {
  .info .widget__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media all and (max-width: 394px) {
  .poster__title {
    line-height: normal;
  }
}

@media all and (max-width: 348px) {
  .mobile__title {
    line-height: normal;
  }
}
